$primary-bg: rgb(10, 10, 10);
$secondary-bg: rgb(20, 20, 20);
$tertiary-bg: rgb(30, 30, 30);
$quaternary-bg: rgb(40, 40, 40);
$quinary-bg: rgb(50, 50, 50);

$primary-text: rgb(255, 255, 255);
$secondary-text: rgb(179, 179, 179);
$tertiary-text: rgb(102, 102, 102);
