$primary-bg: rgb(10, 10, 10);
$secondary-bg: rgb(20, 20, 20);
$tertiary-bg: rgb(30, 30, 30);
$quaternary-bg: rgb(40, 40, 40);
$quinary-bg: rgb(50, 50, 50);

$primary-text: rgb(255, 255, 255);
$secondary-text: rgb(179, 179, 179);
$tertiary-text: rgb(102, 102, 102);
$quaternary-text: rgb(70, 70, 70);

$accent: hwb(153 26% 28%);
$accent-hover: hwb(153 26% 38%);
$accent-2: hwb(219 26% 28%);
$accent-red: hwb(0 26% 28%);

$accent-error: hsl(0, 100%, 43%);
$accent-warning: hsl(40, 100%, 43%);
$accent-success: hsl(153, 80%, 49%);
