$screen-xs-min: 360px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

@mixin xs($max: false) {
    @media (#{if($max, max-width, min-width)} : #{$screen-xs-min - 1}) {
        @content;
    }
}
@mixin sm($max: false) {
    @media (#{if($max, max-width, min-width)} : #{if($max, $screen-sm-min - 1, $screen-sm-min)}) {
        @content;
    }
}
@mixin md($max: false) {
    @media (#{if($max, max-width, min-width)} : #{if($max, $screen-md-min - 1, $screen-md-min )}) {
        @content;
    }
}
@mixin lg($max: false) {
    @media (#{if($max, max-width, min-width)} : #{if($max, $screen-lg-min - 1 , $screen-lg-min)}) {
        @content;
    }
}
@mixin xl($max: false) {
    @media (#{if($max, max-width, min-width)} : #{if($max, $screen-xl-min - 1, $screen-xl-min)}) {
        @content;
    }
}
@mixin xxl($max: false) {
    @media (#{if($max, max-width, min-width)} : #{if($max, $screen-xxl-min - 1, $screen-xxl-min)}) {
        @content;
    }
}
@mixin rwd($screen, $max: false) {
    @media (#{if($max, max-width, min-width)} : (#{if($max, $screen - 1, $screen)} + "px")) {
        @content;
    }
}
