#__nuxt,
html,
body {
    height: 100%;
}

body {
    background-color: $primary-bg;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s,
        opacity 0.2s;
    font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: $secondary-bg;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: $quinary-bg;
    border-radius: 10px;
}
.primary-text {
    color: $primary-text;
}
.secondary-text {
    color: $secondary-text;
}
.tertiary-text {
    color: $tertiary-text;
}
