@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin darker-hover {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover {
        @content;
        &:before {
            opacity: 1;
        }
    }
}
@mixin clip-text($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
}
