@use '@/assets/styles/themes';

@mixin block($dark-color: false, $dark-border: false) {
    @include themes.dark {
        border: 1px solid #{if($dark-border, $dark-border, transparent)};
        background-color: var(#{if($dark-color, $dark-color, --color-background-mute-2)});
    }

    @include themes.light {
        border: 1px solid var(--main-card-border);
    }
}